<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add this: -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  
    <title>Edit <%= pet.name %></title>
  </head>

  <body>
    <%- include('../partials/_navbar.ejs') %>
    <% if(user._id == pet.userId|| user.isAdmin == true) {%>

    <h1>Edit <%= pet.name %></h1>
    <form action="/applications/<%= pet._id %>/?_method=PUT" method="post">
      <dev>
        <label for="petname">Pet Name:</label>
        <input
          type="text"
          name="petname"
          value="<%= pet.petname %>"
          id="petname"
          required
        />
      </dev>
      <dev>
        <label for="pettype">pet type:</label>
        <input
          type="text"
          name="pettype"
          value="<%= pet.pettype %>"
          id="pettype"
          required
        />
      </dev>
      <dev>
        <label for="bornon">bornon</label>
        <input
          type="datetime-local"
          name="bornon"
          value="<%= pet.bornon %>"
          id="bornon"
          required
        />
      </dev>
      <dev>
        <label for="description">description</label>
        <input
          type="text"
          name="description"
          value="<%= pet.description %>"
          id="description"
          required
        />
      </dev>

      <button type="submit">Update pet</button>
      <% }else{ %>
        <h3><%= pet.petname %>: is a <%= pet.pettype %>.</h3> <br />
        <h3>you can have it for <%= pet.price %> BD</h3>
        <h3>it was born on <%= pet.bornon %> </h3>
        <h3>it is <%= pet.description %></h3>

        <% } %>
      <br />
      
    </form>
    <% if(user._id == pet.userId|| user.isAdmin == true) {%>
      <p>
        <form action="/applications/<%= pet._id %>/?_method=DELETE" method="POST">
          <button type="submit">Delete this pet</button>
        </form>
        </p>
      <% } %>


      <% if(user._id != pet.userId) {%>
        <p>

          <form action="/applications/<%= pet._id %>" method="POST">

            <button type="submit">Add to cart</button>
          </form>
          
          </p>

        <% } %>  
  </body>
</html>
