<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add this: -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  
    <title>order <%= pet.name %></title>
  </head>

  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>yow want to order <%= pet.name %></h1>
    
        
  
    
      <p>
        <h3><%= pet.petname %>: is a <%= pet.pettype %>.</h3> <br />
        <h3>you can have it for <%= pet.price %> BD</h3>
        <h3>it was born on <%= pet.bornon %> </h3>
        <h3>it is <%= pet.description %></h3>

        <form action="/order-pet/applications/<%= pet._id %>?_method=put" method="POST">
          <button type="submit">order this pet</button>
        </form>
        </p>
        
      
  </body>
</html>
